.first {
    display: flex;
    padding-left: 40px;
    background-color: #000000;
}

.first-info__title {
    font-weight: normal;
    font-size: 80px;
    line-height: 97px;
    margin: 177px 0 0 0;
}

.first-info__subtitle {
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    margin: 0;
}

.first-info__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    margin: 28px 0 0 0;
}


.first-info__text {
    max-width: 670px;
}

.info {
    display: flex;
    margin-top: 39px;
    width: 359px;
    justify-content: space-between;
}

.info__button {
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    background-color: transparent;
    padding: 10px 32px;
    color: #FFFFFF;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.info__button:hover {
    opacity: 0.5;
}

.button__arrow {
    margin-left: 10px;
}

.info-solana__img {
    max-width: 102, 12px;
    max-height: 12, 38px;
}

.info-solana__title {
    font-weight: normal;
    font-size: 12.9267px;
    line-height: 16px;
    margin: 0 0 6.62px 0;
}

.first-img {
    margin-left: -80px;
    margin-top: -80px;
}