.second {
    display: flex;
    padding: 93px 40px 81px;
    background-color: #000000;
    justify-content: space-between;
}

.second-text__title {
    font-weight: normal;
    font-size: 80px;
    line-height: 97px;
    margin-bottom: 36px;
    max-width: 684px;
}

.second-text__subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    max-width: 608px;
}

.second-images {
    border: 1px solid #FFFFFF;
    width: 485px;
    height: 414.5px;
}

.second-images__img {
    z-index: 20;
    width: 568px;
    height: 568px;
    margin-left: -130px;
}